@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 3% 3%;
    background-color: black;
    color: white;
}

/* header section */
header{
    display: flex;
    flex-direction: row;
    box-shadow: 8px 8px 15px 0 rgba(255, 255, 255, 0.3);
    height: fit-content;
}
#header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#title{
    font-size: 5vw;
    font-weight: 900;
    margin: 0;
}
.title-cap{
    font-size: 1vw;
    margin: 0;
}


#img-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#img-div figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

img#image{
    max-width: 700px;
    width: 100%;
    margin-bottom: 2%;
}
#img-caption{
    font-size: 1vw;
}


/* main section */
#tribute-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}

.tribute-header-text{
    font-size: 1.5vw;
    margin-bottom: 10%;
}

#content{
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    gap: 15vh 2%;
}

.card{
    width: 25vw;
    height: width * 1.48 ;
    box-shadow: 8px 15px 15px 0 rgba(255, 255, 255, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    aspect-ratio: 1 / 1.48;
    transition: transform 1s;
}
.card:hover{
    transform: scale(1.1);
    transition: transform 1s;
}


.card-big-text{
    margin: 0;
    font-size: 2.5vw;
    position: absolute;
    top: 0;
    transition: position 1s;
}

.card-image{
    opacity: 0.5;
    width: 100%;
    position: absolute;
    top: 0;
    transition: opacity 1s ;
    z-index: -1;
}

.paragraph{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
    transition: opacity 1s;
    margin-top: 15%;
}

p.content{
    font-size: 1.2vw;
}
p.content a{
    color: white;
}


/* footer section */
footer{
    box-shadow: 8px 8px 15px 0 rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    height: fit-content;

}

footer figure{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 2%;
}


.footer-img{
    border-radius: 50%;
    width: 30vw;
}

.quote-footer{
    font-size: 1.2vw;
}

.footer-text{
    align-self: center;
}

.footer-text a{
    color: white;
}


/*tablet responsive*/
@media (max-width: 1000px){

    /* header section */

    #title{
        font-size: 6vw;
    }


    /* main section */
    .tribute-header-text{
        font-size: 2vw;
    }
    #content{
        display: grid;
        grid-template-columns: 40vw 40vw;
        justify-content: center;
        gap: 5% 7.5%;
    }
    .card{
        width: 100%;
        margin-bottom: 10%;
    }
    .card-big-text{
        font-size: 4vw;
    }

    p.content{
        font-size: 2vw;
    }

    /* footer section */
    .quote-footer{
        font-size: 2vw;
    }
}


/* mobile responsive */
@media (max-width: 600px){

    /* header section */
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 80vh;
    }

    #header-text{
        width: 100%;
    }
    #title{
        font-size: 12vw;
        font-weight: 900;
        margin: 0;
    }
    .title-cap{
        font-size: 2vw;
        margin: 0;
    }


    #img-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    img#image{
        width: 100%;
        margin-bottom: 2%;
    }
    #img-caption{
        font-size: 2vw;
    }
    

    /* main section */
    #tribute-info{
        margin-bottom: 0%;
    }
    .tribute-header-text{
        font-size: 2.5vw;
        margin-bottom: 10%
    }

    #content{
        display: grid;
        grid-template-columns: 90vw;
        gap: 1% 0;
    }
    .card:hover{
        transform: scale(1.05);
        transition: transform 1s;
    }
    .card-big-text{
        font-size: 6vw;
    }
    
    p.content{
        font-size: 4vw;
    }
    


    /* footer section */

    footer{
        margin-top: 10%;
    }
    footer figure{
        flex-direction: column;
    }
    .footer-img{
        border-radius: 0;
        width: 100%;
    }
    .quote-footer{
        font-size: 3vw;
    }
    
}
